asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.1
django-axes==8.0.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
idna==3.10
jpype1==1.6.0
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
pyreportjasper==2.1.4
requests==2.32.3
sqlparse==0.5.3
urllib3==2.5.0
pyjwt==2.9.0
cffi==1.17.0
pycparser==2.22
bcrypt==4.2.0
cryptography==42.0.8
