html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.layout{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main1{
  display: flex;
  flex: 1;
  min-height: 0;
}
.header, .footer{
  /*padding: 1px;*/
}
.sidebar1{
  width: 200px;
  background: #eee;
  /*padding: 2px;*/
}
.content{
  flex: 1;
  background: #f9f9f9;
  /*padding: 1px;*/
  /*overflow: auto;*/
}
/*.customDrawerPaper{*/
/*  position: relative;*/
/*  height: auto;*/
/*  width: 200px;*/

/*}*/




/*.row{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 1rem;*/
/*}*/
/*.col-12{*/
/*  width: 100%;*/
/*  border: 1px solid #ccc;*/
/*  padding: 1rem;*/
/*}*/
/*.col{*/
/*  flex: 1;*/
/*  border: 1px solid gray;*/
/*  padding: 10px*/
/*}*/