.Section_0 {
    background-image: url('/public/images/pp1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:9%;
}
.Section_1 {
    background-image: url('/public/images/pp.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:9%;
}
.Section_2 {
    background-image: url('/public/images/pp2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:9%;
}
.Section_3 {
    background-image: url('/public/images/pp3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:9%;
}