.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashboard-body {
  display: flex;
  flex: 1;
  position: relative;
  background-image: url("../public/3409297.jpg");
  background-size: cover ;
}

.body_leading {
  background-image: url("../public/AD.jpeg");
  background-size: cover ;
}

.sidebar {
  width: 200px;
  min-width: 150px;
  transition: transform 0.3s ease;
}
.sidebar:not(.open) {
  transform: translateX(-100%);
}
.dashboard-main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }
}